/* header */
.navbar {
    z-index: 9;
}
.nav-item a {
    color: #fff;
    opacity: 10;
}
.header{
    position: absolute;
}
.header-scroll{
    background-color: #fff;
    top: 0px;
    position: fixed;
    z-index: 99;
    color: black!important;
}